::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.timeline:before {
  content: "";
  background: var(--bs-secondary);
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent var(--bs-light) transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: var(--bs-light);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent var(--bs-light);
}
.timeline-img {
  width: 30px;
  height: 30px;
  background: var(--bs-secondary);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.bg-azure {
  background-color: #0ab2eb;
}

.text-azure {
  color: #0ab2eb;
}

.logo-list {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.logo-list img {
  display: inline-block;
  max-width: 85%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  filter: grayscale(100);
}
.logo-list img:hover {
  filter: none;
  transform: scale(1.2);
  -webkit-filter: none;
  -moz-filter: none;
}

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px -2px 2px 0px inset;
}

.fw-500 {
  font-weight: 500;
}

.fw-900 {
  font-weight: 900;
}

.fw-800 {
  font-weight: 800;
}

.fs-14 {
  font-size: 14px;
}

body {
  font-family: "Plus Jakarta Display", sans-serif;
}

h1 {
  font-weight: bold;
}

.nav-link {
  font-weight: 500;
}
.nav-item {
  margin-right: 8px;
}

.btn-outline-azure {
  border: 1px solid #0ab2eb;
}

.text-pills {
  background-color: #0ab2eb;
  padding: 6px 12px;
  font-weight: 500;
  border-radius: 16px;
  color: rgb(255, 255, 255);
}

.nav-on-scroll {
  background-color: white;
  box-shadow: 0 0.8px 8.7px rgba(0, 0, 0, 0.004),
    0 1.8px 19.5px rgba(0, 0, 0, 0.007), 0 3.1px 33.3px rgba(0, 0, 0, 0.008),
    0 4.7px 51.3px rgba(0, 0, 0, 0.009), 0 7px 76px rgba(0, 0, 0, 0.011),
    0 10.3px 111.7px rgba(0, 0, 0, 0.012), 0 15.4px 167.4px rgba(0, 0, 0, 0.013),
    0 24.5px 266.8px rgba(0, 0, 0, 0.016), 0 46px 500px rgba(0, 0, 0, 0.02);
}
